.heading {
	margin-left: 30px;
	color: #333;
	font-weight: 300;
	font-size: 22px;
}

mat-card {
	width: 70%;
	margin-left: 30px;
	padding: 0px;
	margin-bottom: 30px;
}

mat-card-header {
	background-color: #eceff1;
	padding-top: 16px;
}

mat-card-content {
	padding: 16px;
}

mat-card-content h4 {
	color: #333;
	font-size: 18px;
    font-weight: 400;
    margin-bottom: 0px;
}

mat-card-content p {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: .3px;
    font-weight: 400;
    color: #444;
    margin-top: 5px;
}