<section class="banner-section">
	<mat-grid-list cols="2" rowHeight="2:1" class="inner-section">
		<mat-grid-tile>
			<img class="logo" src="assets/home.svg" alt="logo">
		</mat-grid-tile>
		<mat-grid-tile>
			<div class="heading">
				<h1>One Framework.</h1>
				<h1>Mobile & Desktop.</h1>
			</div>
		</mat-grid-tile>
	</mat-grid-list>
</section>

<section class="content-section">
	<mat-grid-list cols="2" rowHeight="2:1">
		<mat-grid-tile>
			<img class="logo" src="assets/home-logo1.svg" alt="logo1">
		</mat-grid-tile>
		<mat-grid-tile>
			<div>
				<h4 class="title">DEVELOP ACROSS ALL PLATFORMS</h4>
				<p class="content">Learn one way to build applications with Angular and reuse your code and abilities to build apps for any deployment target. For web, mobile web, native mobile and native desktop.</p>
			</div>
		</mat-grid-tile>
	</mat-grid-list>
</section>

<hr>

<section class="content-section">
	<mat-grid-list cols="2" rowHeight="2:1">
		<mat-grid-tile>
			<div>
				<h4 class="title">SPEED & PERFORMANCE</h4>
				<p class="content">Achieve the maximum speed possible on the Web Platform today, and take it further, via Web Workers and server-side rendering.</p>

				<p class="content">Angular puts you in control over scalability. Meet huge data requirements by building data models on RxJS, Immutable.js or another push-model.</p>
			</div>
		</mat-grid-tile>
		<mat-grid-tile>
			<img class="logo" src="assets/home-logo2.svg" alt="logo1">
		</mat-grid-tile>
	</mat-grid-list>
</section>

<hr>


<section class="content-section">
	<mat-grid-list cols="2" rowHeight="2:1">
		<mat-grid-tile>
			<img class="logo" src="assets/home-logo3.svg" alt="logo1">
		</mat-grid-tile>
		<mat-grid-tile>
			<div>
				<h4 class="title">INCREDIBLE TOOLING</h4>
				<p class="content">Build features quickly with simple, declarative templates. Extend the template language with your own components and use a wide array of existing components. Get immediate Angular-specific help and feedback with nearly every IDE and editor. All this comes together so you can focus on building amazing apps rather than trying to make the code work.</p>
			</div>
		</mat-grid-tile>
	</mat-grid-list>
</section>

<hr>

<section class="content-section">
	<mat-grid-list cols="2" rowHeight="2:1">
		<mat-grid-tile>
			<div>
				<h4 class="title">LOVED BY MILLIONS</h4>
				<p class="content">From prototype through global deployment, Angular delivers the productivity and scalable infrastructure that supports Google's largest applications.</p>
			</div>
		</mat-grid-tile>
		<mat-grid-tile>
			<img class="logo" src="assets/home-logo2.svg" alt="logo1">
		</mat-grid-tile>
	</mat-grid-list>
</section>